<div class="overthebox-remote">

    <div class="telecom-section-content">
        <div class="widget-presentation">
            <h2 class="widget-presentation-title" data-translate="overTheBox_remote_configure"></h2>

            <!-- REMOTES LIST -->
            <div class="table-responsive-vertical">
                <table class="table table-pretty table-hover">
                    <thead>
                        <tr>
                            <th scope="col" data-translate="overTheBox_remote_table_id"></th>
                            <th scope="col" data-translate="overTheBox_remote_table_status"></th>
                            <th scope="col" data-translate="overTheBox_remote_table_authorized_by"></th>
                            <th scope="col" data-translate="overTheBox_remote_table_expire"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody data-ng-if="OverTheBoxRemote.remotes.length === 0">
                        <tr data-ng-if="OverTheBoxRemote.loading">
                            <td colspan="5" class="text-center">
                                <spinner></spinner>
                            </td>
                        </tr>
                        <tr data-ng-if="!OverTheBoxRemote.loading">
                            <td colspan="5" data-translate="overTheBox_remote_table_empty" class="text-center"></td>
                        </tr>
                    </tbody>
                    <tbody data-ng-repeat="remote in OverTheBoxRemote.paginatedRemotes track by remote.remoteAccessId">
                        <tr>
                            <th scope="row">
                                <button type="button"
                                        class="btn btn-link"
                                        data-ng-click="remote.show = !remote.show">
                                        <span class="ovh-font fs12"
                                              data-ng-class="{'ovh-font-disclosure-down':remote.show, 'ovh-font-disclosure-right': !remote.show}"
                                              aria-hidden="true">
                                        </span>
                                        <span data-ng-bind="remote.remoteAccessId"></span>
                                </button>
                            </th>
                            <td>
                                <span>{{ ('overTheBox_status_' + remote.status) | translate}}</span>
                                <spinner type="volume" class="left-space-m4" data-ng-if="remote.status !== 'active'"></spinner>
                            </td>
                            <td data-ng-bind="remote.authorizedBy"></td>
                            <td>{{remote.expirationDate | date:'dd/MM/yyyy'}}</td>
                            <td>
                                <button type="button"
                                        class="btn btn-link btn-xs"
                                        data-ng-if="!remote.accepted"
                                        data-ng-disabled="remote.busy"
                                        data-ng-really-click="OverTheBoxRemote.authorize(remote)"
                                        data-ng-really-message="{{ 'overTheBox_remote_authorize_confirm' | translate: {port:remote.exposedPort} }}"
                                        data-ng-really-confirm="{{ 'ok' | translate }}"
                                        data-ng-really-cancel="{{ 'cancel' | translate }}"
                                        data-ng-really-window-class="revert-really-buttons"
                                        title="{{ 'overTheBox_remote_authorize_tooltip' | translate: {port:remote.exposedPort} }}">
                                    <span class="ovh-font ovh-font-key" aria-hidden="true"></span>
                                </button>
                                <button type="button"
                                        class="btn btn-link btn-xs"
                                        data-ng-hide="remote.status !== 'active'"
                                        data-ng-disabled="remote.busy"
                                        data-ng-really-click="OverTheBoxRemote.remove(remote)"
                                        data-ng-really-message="{{ 'overTheBox_remote_authorize_delete_confirm' | translate: {port:remote.exposedPort, remoteAccessId:remote.remoteAccessId} }}"
                                        data-ng-really-confirm="{{ 'ok' | translate }}"
                                        data-ng-really-cancel="{{ 'cancel' | translate }}"
                                        data-ng-really-window-class="revert-really-buttons"
                                        title="{{ 'overTheBox_remote_authorize_delete_tooltip' | translate: {port:remote.exposedPort} }}">
                                    <span class="ovh-font ovh-font-bin" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                        <tr data-ng-if="remote.show">
                            <td colspan="5">
                                <dl class="dl-horizontal remote-list left-space-m8 left-space-p16 bottom-space-p16">
                                    <dt class="service-title text-left"
                                        data-translate="overTheBox_remote_detail_ip"></dt>
                                    <dd class="description text-left"
                                        data-ng-bind="remote.remoteUserInfos.ip"></dd>
                                    <dt class="service-title text-left"
                                        data-translate="overTheBox_remote_detail_port"></dt>
                                    <dd class="description text-left"
                                        data-ng-bind="remote.exposedPort"></dd>
                                    <dt class="service-title text-left"
                                        data-translate="overTheBox_remote_detail_public_key"></dt>
                                    <dd class="description text-left"
                                        data-ng-bind="remote.remoteUserInfos.publicKey | limitTo:20"></dd>
                                    <dt class="service-title text-left"
                                        data-translate="overTheBox_remote_detail_public_key"></dt>
                                    <dd class="description text-left"
                                        data-ng-if="remote.connectionInfos.ip">
                                        <pre data-ng-if="remote.exposedPort===22"
                                             class="remote-list__exposed-port"
                                             data-ng-bind="OverTheBoxRemote.getSshConnectionHelp(remote)"></pre>
                                        <a data-ng-if="remote.exposedPort===443"
                                           href="{{OverTheBoxRemote.getHttpConnectionHelp(remote)}}"
                                           target="_blank"
                                           data-ng-bind="OverTheBoxRemote.getHttpConnectionHelp(remote)"></a>
                                        <div data-ng-if="(remote.exposedPort!==443) && (remote.exposedPort!==22)">
                                            <span data-ng-bind="remote.connectionInfos.ip"></span>
                                            <span> / </span>
                                            <span data-ng-bind="remote.connectionInfos.port"></span>
                                        </div>
                                    </dd>
                                </dl>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <div class="table table-pretty"
                 data-ng-if="OverTheBoxRemote.remotes > OverTheBoxRemote.paginatedRemotes"
                 data-pagination-front
                 data-go-to-page="false"
                 data-items="OverTheBoxRemote.remotes"
                 data-paginated-items="OverTheBoxRemote.paginatedRemotes"
                 data-items-per-page="OverTheBoxRemote.filter.perPage"
                 data-page-placeholder="{{ 'common_pagination_go_to_page' | translate }}"
                 data-item-per-page-placeholder="{{'common_pagination_show_by_page' |translate }}">
            </div>

        </div>

        <!-- ADD remote -->
        <div class="widget-presentation">
            <h2 class="widget-presentation-title" data-translate="overTheBox_remote_add"></h2>

            <form name="overTheBoxAdd"
                  data-ng-submit="OverTheBoxRemote.addRemote()"
                  class="form-horizontal ovh-form-flat">
                  <div class="form-group">
                      <label for="allowedIp"
                             class="col-xs-12 col-md-3 service-title"
                             data-translate="overTheBox_remote_add_allowedIp"></label>
                      <div class="col-xs-12 col-md-4">
                          <div flat-input-container class="input-group">
                              <input name="allowedIp"
                                     id="allowedIp"
                                     type="string"
                                     class="form-control"
                                     data-ng-model="OverTheBoxRemote.newRemote.allowedIp"
                                     data-ui-validate="'OverTheBoxRemote.isIpValid($value) || !$value'"
                                     data-ng-disabled="OverTheBoxRemote.adding"
                                     data-translate-attr="{placeholder: 'overTheBox_remote_placeholder_ip'}"
                                     data-maxlength="50">
                              <ul data-ng-messages="overTheBoxAdd.allowedIp.$error" role="alert">
                                  <li data-ng-message="validator" data-translate="overTheBox_remote_add_allowedIp_error"></li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="exposedPort"
                             class="col-xs-12 col-md-3 service-title"
                             data-translate="overTheBox_remote_add_exposedPort"></label>
                      <div class="col-xs-12 col-md-4">
                          <div flat-input-container>
                              <input name="exposedPort"
                                     id="exposedPort"
                                     type="number"
                                     class="form-control"
                                     data-ng-model="OverTheBoxRemote.newRemote.exposedPort"
                                     required
                                     data-ui-validate="'OverTheBoxRemote.validator.isInt($value)'"
                                     data-ng-disabled="OverTheBoxRemote.adding"
                                     data-maxlength="50">
                              <ul data-ng-messages="overTheBoxAdd.exposedPort.$error" role="alert">
                                  <li data-ng-message="validator" data-translate="overTheBox_remote_add_exposedPort_error"></li>
                              </ul>
                          </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="expirationDate"
                             class="col-xs-12 col-md-3 service-title"
                             data-translate="overTheBox_remote_add_expirationDate"></label>
                      <div class="col-xs-12 col-md-4">
                          <div flat-input-container>
                             <div class="input-group date-picker-input">
                                 <input name="expirationDate"
                                        id="expirationDate"
                                        class="form-control"
                                        data-uib-datepicker-popup="dd/MM/yyyy"
                                        data-datepicker-options="OverTheBoxRemote.datepickerOptions"
                                        data-ng-model="OverTheBoxRemote.newRemote.expirationDate"
                                        data-ng-focus="OverTheBoxRemote.openDatePicker($event)"
                                        data-ui-validate="{date: 'OverTheBoxRemote.validator.isDate($value) || !$value', future: 'OverTheBoxRemote.isInFuture($value)'}"
                                        data-ng-disabled="OverTheBoxRemote.adding"
                                        data-is-open="OverTheBoxRemote.pickerOpened"
                                        data-show-button-bar="false"
                                        data-current-text="{{:: 'today' | translate }}"
                                        data-clear-text="{{:: 'reset' | translate }}"
                                        data-close-text="{{:: 'close' | translate }}"
                                        placeholder="{{ OverTheBoxRemote.datepickerOptions.minDate | date:'dd/MM/yyyy'}}">
                                 <span class="input-group-btn">
                                     <button type="button"
                                             class="btn btn-default"
                                             data-ng-click="OverTheBoxRemote.openDatePicker($event)">
                                             <span class="ovh-font ovh-font-scheduled fs16" aria-hidden="true"></span>
                                     </button>
                                 </span>
                             </div>
                             <ul data-ng-messages="overTheBoxAdd.expirationDate.$error" role="alert">
                                 <li data-ng-message="date" data-translate="overTheBox_remote_add_expirationDate_error"></li>
                                 <li data-ng-message="future" data-translate="overTheBox_remote_add_expirationDate_error_future"></li>
                             </ul>
                         </div>
                      </div>
                  </div>

                  <div class="form-group">
                      <label for="expirationDate"
                             class="col-xs-12 col-md-3">
                             <a href="{{OverTheBoxRemote.publicKeyHelperUrl}}"
                                target="_blank"
                                data-uib-tooltip="{{ 'overTheBox_remote_public_key_tooltip' | translate }}"
                                data-translate="overTheBox_remote_add_publicKey"></a>
                      </label>
                      <div class="col-xs-12 col-md-4">
                          <div flat-input-container>
                              <textarea name="publicKey"
                                        id="publicKey"
                                        rows="3"
                                        placeholder="ssh-rsa ..."
                                        class="form-control"
                                        data-ng-model="OverTheBoxRemote.newRemote.publicKey"
                                        data-ng-disabled="OverTheBoxRemote.adding"></textarea>
                          </div>
                      </div>
                  </div>

                  <div class="top-space-m32">
                      <button type="submit"
                              data-translate="submit"
                              class="btn btn-sm btn-primary"
                              data-ng-disabled="OverTheBoxRemote.adding || overTheBoxAdd.$invalid">
                      </button>
                      <spinner class="left-space-m4" data-ng-if="FaxConfCtrl.loading"></spinner>
                  </div>
            </form>
        </div>

    </div>

</div>
