<div class="telecom-overTheBox-order">
    <header>
        <h1 data-translate="overTheBox_title"></h1>
    </header>

    <div class="telecom-section-content">

        <bouncing-box-loader data-ng-if="OrderOverTheBox.loaders.checking">
            <h3 class="top-space-m16"
                data-translate="loading">
            </h3>
        </bouncing-box-loader>

        <!-- warning -->
        <div data-ng-if="!OrderOverTheBox.loaders.checking && !OrderOverTheBox.states.orderDone">
            <div data-ng-if="!OrderOverTheBox.hasDefaultPaymentMeans"
                 data-ng-include="'app/telecom/overTheBox/warning/overTheBox-warning-noPaymentMeans.html'"></div>

            <div data-ng-if="OrderOverTheBox.devices.length === 0"
                data-ng-include="'app/telecom/overTheBox/warning/overTheBox-warning-notFound.html'"></div>

            <div data-ng-if="(OrderOverTheBox.orphanDevices.length) && (!OrderOverTheBox.unlinkedServices.length)"
                 data-ng-include="'app/telecom/overTheBox/warning/overTheBox-warning-noSubscription.html'"></div>

            <div data-ng-if="(OrderOverTheBox.orphanDevices.length) && (OrderOverTheBox.unlinkedServices.length)"
                 data-ng-include="'app/telecom/overTheBox/warning/overTheBox-warning-deviceToLink.html'"></div>

             <button class="btn btn-primary"
                     type="button"
                     data-ng-if="!OrderOverTheBox.states.order"
                     data-ng-disabled="!OrderOverTheBox.hasDefaultPaymentMeans"
                     data-ng-click="OrderOverTheBox.startOrder()">
                 <span class="ovh-font ovh-font-cart fs16 right-space-m4"></span>
                 <span data-translate="order_overTheBox_subscription_request"></span>
                 <spinner data-ng-show="OrderOverTheBox.paymentMeansChecking"></spinner>
             </button>
        </div>

        <bouncing-box-loader data-ng-if="OrderOverTheBox.loaders.order">
            <h3 class="top-space-m16"
                data-translate="loading">
            </h3>
        </bouncing-box-loader>

        <form name="formOrder"
              novalidate
              class="ovh-form-flat form-horizontal"
              data-ng-if="!OrderOverTheBox.loaders.order &&
                            (OrderOverTheBox.states.order || OrderOverTheBox.states.orderDone)">
            <!-- Options -->
            <div class="widget-presentation">
                <h2 class="widget-presentation-title" data-translate="order_overTheBox_offer_options"></h2>
                <div class="form-group">
                    <label for="select-offer"
                           class="col-xs-12 col-md-4 service-title control-label"
                           data-translate="order_overTheBox_offer_type"></label>
                    <div class="col-xs-12 col-md-6">
                        <div flat-input-container>
                            <select flat-select
                                    name="select-offer"
                                    id="select-offer"
                                    class="form-control"
                                    data-ng-model="OrderOverTheBox.orderModel.offer"
                                    data-ng-change="OrderOverTheBox.getOrderDurations()"
                                    data-ng-disabled="OrderOverTheBox.states.orderDone"
                                    data-ng-options="offer for offer in OrderOverTheBox.offers">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     data-ng-if="OrderOverTheBox.durations.length > 0">
                     <label for="select-duration"
                            class="col-xs-12 col-md-4 service-title control-label"
                            data-translate="order_overTheBox_offer_duration"></label>
                    <div class="col-xs-12 col-md-6">
                        <div flat-input-container>
                            <select flat-select name="select-durations"
                                    class="form-control"
                                    id="select-duration"
                                    data-ng-disabled="OrderOverTheBox.durations.length === 0 || OrderOverTheBox.loaders.durations || OrderOverTheBox.states.orderDone"
                                    data-ng-model="OrderOverTheBox.orderModel.duration"
                                    data-ng-options="duration for duration in OrderOverTheBox.durations">
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     data-ng-if="OrderOverTheBox.orderModel.offer && OrderOverTheBox.orderModel.duration">
                     <label for="input-voucher"
                            class="col-xs-12 col-md-4 service-title control-label tooltip-label"
                            data-uib-tooltip="{{ 'order_overTheBox_voucher_informations' | translate}}"
                            data-translate="order_overTheBox_voucher"></label>
                    <div class="col-xs-12 col-md-6">
                        <div flat-input-container>
                            <input id="input-voucher"
                                   name="input-voucher"
                                   class="form-control"
                                   data-ng-model="OrderOverTheBox.orderModel.voucher"
                                   data-ng-disabled="OrderOverTheBox.states.orderDone"
                                   data-ng-minlength="8"
                                   data-ng-model-options="{debounce: {'default': 5000}}"
                                   placeholder="{{'order_overTheBox_voucher_placeholder' | translate}}" />
                        </div>
                    </div>
                </div>

                <div class="form-group"
                     data-ng-if="OrderOverTheBox.orderModel.offer && OrderOverTheBox.orderModel.duration">
                     <label for="input-voucher"
                            class="col-xs-12 col-md-4 service-title control-label tooltip-label"
                            data-uib-tooltip="{{ 'order_overTheBox_deviceId_informations' | translate}}"
                            data-translate="order_overTheBox_deviceId"></label>
                    <div class="col-xs-12 col-md-6">
                        <div flat-input-container>
                            <input id="input-deviceId"
                                   name="input-deviceId"
                                   class="form-control"
                                   data-ng-model="OrderOverTheBox.orderModel.deviceId"
                                   data-ng-model-options="{debounce: {'default': 800}}"
                                   data-ng-disabled="OrderOverTheBox.states.orderDone"
                                   list="devicesList"
                                   placeholder="{{'order_overTheBox_deviceId_placeholder' | translate}}" />
                            <datalist id="devicesList">
                                <option data-ng-repeat="device in OrderOverTheBox.devices track by device.deviceId"
                                        value="{{device.deviceId}}">
                                </option>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Information -->
            <div class="widget-presentation top-space-m32"
                  data-ng-if="OrderOverTheBox.orderInformations">
                <h2 class="widget-presentation-title" data-translate="order_overTheBox_offer_informations"></h2>
                <div class="table-responsive-vertical">
                    <table class="table table-hover table-condensed ovh-form-flat table-form table-pretty">
                        <thead>
                            <th scope="col" data-translate="order_overTheBox_order_description"></th>
                            <th scope="col" data-translate="order_overTheBox_order_quantity"></th>
                            <th scope="col" data-translate="order_overTheBox_order_price"></th>
                        </thead>
                        <tbody>
                            <tr data-ng-repeat="detail in OrderOverTheBox.orderInformations.details">
                                <th scope="col"
                                    data-title="{{order_overTheBox_order_description | translate}}"
                                    data-ng-bind="detail.description"></th>
                                <td data-title="{{order_overTheBox_order_quantity | translate}}"
                                    data-ng-bind="detail.quantity"></td>
                                <td data-title="{{order_overTheBox_order_price | translate}}"
                                    data-ng-bind="detail.totalPrice.text"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td>
                                    <div>
                                        <strong data-ng-bind="OrderOverTheBox.orderInformations.prices.withoutTax.text"></strong>
                                        <span data-translate="order_overTheBox_price_ht"></span>
                                    </div>
                                    <div>
                                        <strong data-ng-bind="OrderOverTheBox.orderInformations.prices.withTax.text"></strong>
                                        <span data-translate="order_overTheBox_price_ttc"></span>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- Contracts -->
            <div class="widget-presentation top-space-m32"
                 data-ng-if="!OrderOverTheBox.states.orderDone && OrderOverTheBox.orderInformations && OrderOverTheBox.orderInformations.contracts && OrderOverTheBox.orderInformations.contracts.length > 0">
                <h2 class="widget-presentation-title" data-translate="order_overTheBox_offer_contracts"></h2>
                <div data-contracts="OrderOverTheBox.orderInformations.contracts"
                     data-full-text="false"
                     data-contracts-validated="OrderOverTheBox.contractsAccepted">
                </div>
            </div>

            <!-- Order accepted -->
            <p class="top-space-m32"
               data-translate="order_overTheBox_orderDone"
               data-ng-if="OrderOverTheBox.states.orderDone"
               data-translate-values="{bcUrl: OrderOverTheBox.bcUrl}"></p>

            <!-- Submit -->
            <button type="button"
                    class="btn btn-primary top-space-m32"
                    title="{{'common_generate_order' | translate}}"
                    data-ng-click="OrderOverTheBox.order()"
                    data-ng-if="!OrderOverTheBox.states.orderDone"
                    data-ng-disabled="!OrderOverTheBox.contractsAccepted || OrderOverTheBox.loaders.create">
                <span class="ovh-font ovh-font-cart fs16 right-space-m4"></span>
                <span data-translate="common_generate_order"></span>
            </button>
        </form>

    </div>

</div>
